@charset "UTF-8";
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Samim", "Times New Roman", Times, serif;
  font-size: 16px;
  direction: rtl;
  background: #e5e5e5;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background: #05A571;
  border-radius: 4px;
}
body::-webkit-scrollbar-track {
  background: #232323;
  border-radius: 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background: #05A571;
  color: #fff;
}
a {
  color: #05A571;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Samim", "Times New Roman", Times, serif;
  color: #05A571;
}
p {
  line-height: 32px;
}
.gray {
  color: #727272;
}
.primarytext {
  color: #05A571;
}
.nav {
  background: #232323;
  min-height: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.nav ul {
  display: flex;
  flex-direction: row;
}
.nav ul li {
  list-style-type: none;
  margin-left: 20px;
}
.nav ul li a {
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.nav ul li a:hover {
  background: #303030;
  transition: all 0.3s ease;
}
.nav ul li.selected a {
  color: #05A571 !important;
  background: #303030;
}
.hero {
  background: #1a1a1a;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  text-align: center;
}
.hero h1 {
  font-size: 48px;
  text-align: center;
}
.hero h1:hover {
  opacity: 0.8;
}
.hero h1 a {
  color: #05A571;
}
.hero h2 {
  font-size: 16px;
  color: #ccc;
  margin-top: 10px;
}
.main {
  display: flex;
  flex-direction: row;
}
.sidebar {
  width: 30%;
  background: #232323;
}
.sideitem {
  text-align: center;
  margin-top: 20px;
}
.sideitem:first-child {
  margin-top: 0;
}
.sideitem:last-child {
  position: sticky;
  top: 0;
}
.sidetitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #05A571;
  color: #fff;
  min-height: 45px;
  font-size: 18px;
  font-weight: bold;
}
.sidemain {
  margin-top: 15px;
  color: #ccc;
}
.category a {
  color: #ccc;
}
.category a small {
  color: #05A571;
}
.about img {
  width: 100%;
  border-radius: 10px;
}
.about .sidemain {
  padding: 0 20px;
}
.blog-desc {
  margin-top: 15px;
}
.blog-desc h1,
.blog-desc h2,
.blog-desc h3,
.blog-desc h4 {
  color: #ccc;
}
.links ul li {
  list-style-type: none;
  border-bottom: 1px solid #727272;
  padding: 10px;
  margin: 0 15px;
  transition: all 0.3s ease;
}
.links ul li a {
  color: #ccc;
  transition: all 0.3s ease;
}
.links ul li:hover {
  color: #05A571;
  border-bottom-color: #05A571;
  transition: all 0.3s ease;
}
.links ul li:hover a {
  color: #05A571;
  transition: all 0.3s ease;
}
.links ul li.selected {
  color: #05A571;
  border-bottom-color: #05A571;
}
.links ul li.selected a {
  color: #05A571;
}
.sideitem.links .sidemain {
  margin-top: 0;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 15px;
}
.post {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px 20px 0 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}
.post > * {
  margin-top: 10px;
}
.post:first-child {
  margin-top: 0;
}
.postheader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.postimage {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  width: 25%;
  position: relative;
  padding-top: 17%;
  overflow: hidden;
}
.postimage img,
.postimage i {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.postimage img {
  z-index: 2;
}
.postimage i {
  text-align: center;
  font-weight: bold;
  color: #ccc;
  font-size: 64px;
  z-index: 1;
  user-select: none;
}
.posttitle {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.posttitle a h2 {
  color: #05A571;
  font-size: 24px;
  text-align: center;
}
.posttitle a h2:hover {
  opacity: 0.8;
}
.posttitle p,
.posttitle span {
  color: #727272;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
.postmain img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
}
.readmore {
  display: flex;
  justify-content: flex-end;
}
.readmore a {
  background: #05A571;
  padding: 10px;
  color: #fff;
  font-weight: bold;
}
.readmore a:hover {
  opacity: 0.8;
}
.postfooter {
  margin-top: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}
.postfooteritems a,
.postfooteritems span {
  color: #727272;
  display: flex;
  align-items: center;
}
.postfooteritems a:hover,
.postfooteritems span:hover {
  opacity: 0.8;
}
.postfooteritems a i,
.postfooteritems span i {
  font-size: 22px;
}
.postfooteritems a span,
.postfooteritems span span {
  margin-left: 5px;
}
.postfooteritems .rate-box .rate-up.rated a {
  color: #05A571;
}
.postfooter-left {
  display: flex;
}
.postfooter-left div {
  margin-right: 20px;
}
.full .postheader {
  flex-direction: column;
  align-items: center;
}
.full .postheader .postimage {
  width: 100%;
  max-width: 600px;
  padding-top: 60%;
}
.full .postheader .posttitle {
  align-items: center;
}
.commentintro {
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin-top: 20px;
}
.commentintro span {
  font-size: 32px;
  font-weight: bold;
  color: #05A571;
}
.commentintro p {
  color: #727272;
  margin-top: 10px;
}
.comments {
  max-width: 800px;
  width: 100%;
}
.comment {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  overflow-x: auto;
}
.comment-header {
  display: flex;
  align-items: center;
}
.comment-header a {
  margin-left: 15px;
  font-weight: bold;
}
.comment-header span {
  color: #727272;
}
.comment-avatar {
  margin-left: 10px;
  border-radius: 50%;
  background: linear-gradient(45deg, #05A571 50%, #232323 50%);
  position: relative;
  height: 57px;
  width: 57px;
}
.comment-avatar img {
  width: 50px;
  height: 50px;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.comment-body {
  margin-top: 10px;
}
.send-comment {
  width: 100%;
  max-width: 800px;
  background: #fff;
  border: 1px solid #ccc;
  margin-top: 30px;
  padding: 20px;
}
.pagination {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.pagination ul {
  display: flex;
  flex-direction: row-reverse;
}
.pagination ul li {
  list-style-type: none;
  margin: 5px;
}
.pagination ul a {
  color: #fff;
  background: #727272;
  padding: 5px 10px;
  transition: all 0.3s ease;
}
.pagination ul a.current {
  background: #05A571;
}
.pagination ul a:hover {
  background: #05A571;
  transition: all 0.3s ease;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #1a1a1a;
  color: #ccc;
}
.tags {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
}
.tags a {
  background: #727272;
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
  margin: 3px;
  transition: all 0.3s ease;
}
.tags h3 {
  margin: 3px;
  font-size: inherit;
  font-weight: normal;
}
.tags h3 a {
  margin: 0;
}
.tags a:hover {
  background: #05A571;
  transition: all 0.3s ease;
}
#stat_summary_div {
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  .main {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .sidebar {
    width: 95%;
  }
  .content {
    width: 95%;
  }
  .nav {
    padding: 20px 10px 0 10px;
  }
  .nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav ul::before {
    display: block;
    content: "منوی کاربری";
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    margin-right: 10px;
  }
  .nav ul:hover {
    height: auto;
    padding: 10px;
  }
  .nav ul:hover::before {
    display: none;
  }
  .nav ul li {
    margin-left: 0;
    margin-bottom: 15px;
  }
}
