<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frootan</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="nav">
                <ul>
                    <li><a href="#" class="active">خانه</a></li>
                    <li><a href="#">تماس با من</a></li>
                    <li><a href="#">درباره ما</a></li>
                </ul>
            </div>
            <div class="hero">
                <h1><a href="#">وبلاگ من</a></h1>
                <h2>به وبلاگ من خوش آمدید</h2>
            </div>
        </div>
        <div class=" main">
            <div class="sidebar">
                <div class="sideitem about">
                    <div class="sidetitle"><span><i class="fa fa-info"></i> درباره من</span></div>
                    <div class="sidemain">
                        <img src="img/headgeog.jpg" />
                        <p>اینجا مکانی برای خالی کردن عقده ها و علایق یک جوان علاقمند به برنامه نویسی در قالب طنز است. لطفا جدی نگیرید!
                            این مکان، سابقا برای مدرسه نمونه خوارزمی شبستر ساخته شده بود که با بیرون آمدن از مدرسه شد وسیله تفریح ما. امیدوارم مطالبی که مینویسم بتواند خوشحالتان کند و یا حتی برای شما مفید باشد.
                            دنبال کردن به منزله خواندن مطالب است. پس لطفا فقط در صورتی که دوست دارید دنبال کنید.</p>
                    </div>
                </div>
                <div class="sideitem category">
                    <div class="sidetitle"><span><i class="fa fa-folder-open"></i> موضوعات</span></div>
                    <div class="sidemain">
                        <ul>
                            <li><a href="#">برنامه نویسی <small>(۱۷)</small></a></li>
                            <li><a href="#">آموزش وب <small>(۵)</small></li></a>
                            <li><a href="#">قالب <small>(۱)</small></a></li>
                        </ul>
                    </div>
                </div>
                <div class="sideitem">
                    <div class="sidetitle"><span><i class="fa fa-bar-chart"></i> آمار</span></div>
                    <div class="sidemain">
                        <ul>
                            <li>بازدید امروز : ۱۰</li>
                            <li>بازدید دیروز : ۲۰</li>
                            <li>حاضرین در سایت: ۵</li>
                            <li>عمر سایت: ۶۰ روز</li>
                        </ul>
                    </div>
                </div>
                <div class="sideitem links">
                    <div class="sidetitle"><span><i class="fa fa-link"></i> پیوندها</span></div>
                    <div class="sidemain">
                        <ul>
                            <li><a href="#">آسمانم</a></li>
                            <li><a href="#">نویسنده آشنا</a></li>
                            <li><a href="#">نقل بلاگ</a></li>
                            <li><a href="#">قالب عرفان</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content">
                    <div class="post full">
                        <div class="postheader">
                            <div class="postimage">
                                <img src="img/programmer.png" alt="">
                            </div>
                            <div class="posttitle">
                                <a href="#">
                                    <h2>چگونه برنامه نویس شویم</h2>
                                </a>
                                <p>توسط محسن فرج‌اللهی در تاریخ ۹۹/۶/۲۲</p>
                                <div class="tags"><span>در موضوعات:</span><a href="#">برنامه‌نویسی</a> <a href="#">آموزش وب</a> <a href="#">جاوا اسکریپت</a></div>
                            </div>
                        </div>
                        <div class="postmain">
                            <p>خیلی از دوستان کلمه "برنامه نویس" رو شنیدن و خیلیا خودشون برنامه نویس هستن و خیلی ها هم دوست دارن برنامه نویس بشن! در پست امروز قراره من برای شما یک تعریف جامع و کلی از برنامه نویسی بگم و راهش رو بهتون نشون بدم و امیدوارم که حتی برخی از ایهامات مربوط رو درباره برنامه نویسی برطرف کنم. البته این رو در نظر داشته باشین اینا صرفا تجربه خودمه و من خودم برنامه نویس بزرگی نیستم. پس با من همراه باشین! (وی این پست را در حین بمباران امتحانات میانترم دانشگاه مینویسد...)</p>
                            <div class="tags"><span class="gray">کلمات کلیدی:</span><a href="#">برنامه‌نویسی</a> <a href="#">آموزش وب</a> <a href="#">جاوا اسکریپت</a></div>
                        </div>
                        
                        <div class="postfooter">
                            <div class="postfooteritems">
                                <span href="#">
                                    <span>۱۲</span>
                                    <i class="fa fa-eye"></i>
                                </span>
                            </div>
                            <div class="postfooter-left">
                                <div class="postfooteritems">
                                <a href="#">
                                    <span>۵</span>
                                    <i class="fa fa-comment"></i>
                                </a>
                                </div>
                                <div class="postfooteritems">
                                    <a href="#">
                                    <span>۲</span>
                                    <i class="fa fa-heart"></i>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="commentintro">
                        <a name="comments"></a>
                        <span><i class="fa fa-comment"></i> نظرات</span>
                        <p><a href="#sendcomment"><i class="fa fa-chevron-down"></i> برو به فرم ارسال نظر</a></p>
                        <p>تا الان 5 نظر داریم.</p>
                    </div>
                    <div class="comments">
                        <div class="comment">
                            <div class="comment-header">
                                <div class="comment-avatar">
                                    <img src="./img/headgeog.jpg" />
                                </div>
                                <a name="" href="#">کاربر شماره یک</a>
                                <span>دقایقی پیش</span>
                            </div>
                            <div class="comment-body">
                                <p>این یک متن آزمایشی برای تست کردن نظر است و هیچگونه ارزش مادی و معنوی ندارد!</p>
                            </div>
                            <div class="comment comment-reply">
                                <div class="comment-header">
                                    <div class="comment-avatar">
                                        <img src="./img/headgeog.jpg" />
                                    </div>
                                    <a name="" href="#">کاربر شماره یک</a>
                                    <span>دقایقی پیش</span>
                                </div>
                                <div class="comment-body">
                                    <p>این یک متن آزمایشی برای تست کردن نظر است و هیچگونه ارزش مادی و معنوی ندارد!</p>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment-header">
                                <div class="comment-avatar">
                                    <img src="./img/headgeog.jpg" />
                                </div>
                                <a name="" href="#">کاربر شماره یک</a>
                                <span>دقایقی پیش</span>
                            </div>
                            <div class="comment-body">
                                <p>این یک متن آزمایشی برای تست کردن نظر است و هیچگونه ارزش مادی و معنوی ندارد!</p>
                            </div>
                            <div class="comment comment-reply">
                                <div class="comment-header">
                                    <div class="comment-avatar">
                                        <img src="./img/headgeog.jpg" />
                                    </div>
                                    <a name="" href="#">کاربر شماره یک</a>
                                    <span>دقایقی پیش</span>
                                </div>
                                <div class="comment-body">
                                    <p>این یک متن آزمایشی برای تست کردن نظر است و هیچگونه ارزش مادی و معنوی ندارد!</p>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment-header">
                                <div class="comment-avatar">
                                    <img src="./img/headgeog.jpg" />
                                </div>
                                <a name="" href="#">کاربر شماره یک</a>
                                <span>دقایقی پیش</span>
                            </div>
                            <div class="comment-body">
                                <p>این یک متن آزمایشی برای تست کردن نظر است و هیچگونه ارزش مادی و معنوی ندارد!</p>
                            </div>
                            <div class="comment comment-reply">
                                <div class="comment-header">
                                    <div class="comment-avatar">
                                        <img src="./img/headgeog.jpg" />
                                    </div>
                                    <a name="" href="#">کاربر شماره یک</a>
                                    <span>دقایقی پیش</span>
                                </div>
                                <div class="comment-body">
                                    <p>این یک متن آزمایشی برای تست کردن نظر است و هیچگونه ارزش مادی و معنوی ندارد!</p>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment-header">
                                <div class="comment-avatar">
                                    <img src="./img/headgeog.jpg" />
                                </div>
                                <a name="" href="#">کاربر شماره یک</a>
                                <span>دقایقی پیش</span>
                            </div>
                            <div class="comment-body">
                                <p>این یک متن آزمایشی برای تست کردن نظر است و هیچگونه ارزش مادی و معنوی ندارد!</p>
                            </div>
                            <div class="comment comment-reply">
                                <div class="comment-header">
                                    <div class="comment-avatar">
                                        <img src="./img/headgeog.jpg" />
                                    </div>
                                    <a name="" href="#">کاربر شماره یک</a>
                                    <span>دقایقی پیش</span>
                                </div>
                                <div class="comment-body">
                                    <p>این یک متن آزمایشی برای تست کردن نظر است و هیچگونه ارزش مادی و معنوی ندارد!</p>
                                </div>
                            </div>
                        </div>
                        <div class="send-comment" id="sendcomment">
                            <a name="sendcoment"></a>
                            ارسال نظر
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div><span>طراحی از <a href="#">چرتک بلاگ</a></span></div>
            <div><span>قدرت گرفته از <a href="#">بلاگ بیان</a></span></div>
        </div>
    </div>
</body>

</html>